#rectangle {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1519px;
  height: 65px;
  display: flex;
  opacity: 0.86;
}

#rectangle_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1519px;
  height: 65px;
}

#logo {
  border-width: 0px;
  position: absolute;
  left: 41px;
  top: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 5px;
}

#logo_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
}

#logo .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#logo_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#inputbox_input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 235px;
  height: 27px;
  padding: 11px 10px 11px 10px;
  font-family: 'Arial Normal', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #ffffff;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#inputbox_input.disabled {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 235px;
  height: 27px;
  padding: 11px 10px 11px 10px;
  font-family: 'Arial Normal', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #8C8C8C;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#inputbox_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 235px;
  height: 27px;
  background: inherit;
  background-color: rgba(36, 41, 46, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(140, 140, 140, 1);
  border-radius: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#inputbox {
  border-width: 0px;
  position: absolute;
  left: 93px;
  top: 19px;
  width: 235px;
  height: 27px;
  display: flex;
  opacity: 0.54;
}

#inputbox .text {
  position: absolute;
  align-self: center;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  width: 100%;
}

#inputbox_div.disabled {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 235px;
  height: 27px;
  background: inherit;
  background-color: rgba(240, 240, 240, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(140, 140, 140, 1);
  border-radius: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#inputbox.disabled {}


#searchicon_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
}

#searchicon {
  border-width: 0px;
  position: absolute;
  left: 310px;
  top: 28px;
  width: 10px;
  height: 10px;
  display: flex;
}

#searchicon .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#searchicon_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}

#navchoice1 {
  border-width: 0px;
  position: absolute;
  left: 358px;
  top: 22px;
  width: 32px;
  height: 18px;
  display: flex;
  font-size: 16px;
  color: #FFFFFF;
}

#choice1_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#choice1 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#choice1_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#choice1.mouseOver {}

#choice1_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#navchoice2 {
  border-width: 0px;
  position: absolute;
  left: 416px;
  top: 22px;
  width: 32px;
  height: 18px;
  display: flex;
  font-size: 16px;
  color: #FFFFFF;
}

#choice2_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#choice2 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#choice2_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#choice2.mouseOver {}

#choice2_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#navchoice3 {
  border-width: 0px;
  position: absolute;
  left: 474px;
  top: 22px;
  width: 32px;
  height: 18px;
  display: flex;
  font-size: 16px;
  color: #FFFFFF;
}

#choice3_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#choice3 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#choice3_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#choice3.mouseOver {}

#choice3_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#navchoice4 {
  border-width: 0px;
  position: absolute;
  left: 532px;
  top: 22px;
  width: 32px;
  height: 18px;
  display: flex;
  font-size: 16px;
  color: #FFFFFF;
}

#choice4_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#choice4 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#choice4_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#choice4.mouseOver {}

#choice4_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#loading_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#loading {
  border-width: 0px;
  position: absolute;
  left: 1291px;
  top: 24px;
  width: 32px;
  height: 18px;
  display: flex;
  font-size: 16px;
  color: #FFFFFF;
}

#loading .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#loading_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#loading.mouseOver {}

#loading_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}


#register_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 112px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#register {
  border-width: 0px;
  position: absolute;
  left: 1347px;
  top: 24px;
  width: 112px;
  height: 18px;
  display: flex;
  font-size: 16px;
  color: #FFFFFF;
}

#register .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#register_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 112px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #FFFFFF;
}

#register.mouseOver {}

#register_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#user_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 13px;
  height: 15px;
}

#user {
  border-width: 0px;
  position: absolute;
  left: 1457px;
  top: 24px;
  width: 13px;
  height: 15px;
  display: flex;
}

#user .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#user_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}

#mail_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#mail {
  border-width:0px;
  position:absolute;
  left:1425px;
  top:25px;
  width:17px;
  height:14px;
  display:flex;
}
#mail .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#mail_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

/* #u4777 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}

#u4778_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 88px;
  height: 61px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 6px;
  -moz-box-shadow: 1px 1px 5px rgba(134, 134, 134, 0.349019607843137);
  -webkit-box-shadow: 1px 1px 5px rgba(134, 134, 134, 0.349019607843137);
  box-shadow: 1px 1px 5px rgba(134, 134, 134, 0.349019607843137);
}

#u4778 {
  border-width: 0px;
  position: absolute;
  left: 1406px;
  top: 48px;
  width: 88px;
  height: 61px;
  display: flex;
}

#u4778 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#u4778_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}

#u4779_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 88px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#u4779 {
  border-width: 0px;
  position: absolute;
  left: 1406px;
  top: 53px;
  width: 88px;
  height: 25px;
  display: flex;
}

#u4779 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#u4779_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 88px;
  height: 25px;
  background: inherit;
  background-color: rgba(236, 245, 255, 1);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#u4779.mouseOver {}

#u4779_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#u4780_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 88px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#u4780 {
  border-width: 0px;
  position: absolute;
  left: 1406px;
  top: 78px;
  width: 88px;
  height: 25px;
  display: flex;
}

#u4780 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#u4780_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 88px;
  height: 25px;
  background: inherit;
  background-color: rgba(236, 245, 255, 1);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#u4780.mouseOver {}

#u4780_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
 */
